<md-dialog aria-label="Mango (Fruit)">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2><i class="fa fa-hospital-o"></i> 醫院資料 ({{hospital['醫院']}})</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="answer('not applicable')">
        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div>
        <div layout="row">
          <div flex="20" class="right">社福中心：</div><div>{{hospital['社福中心']}}</div>
        </div>
        <div layout="row">
          <div flex="20" class="right"><i class="fa fa-phone"></i> 辦公室電話：</div><div>{{hospital['辦公室電話']}}</div>
        </div>
        <div layout="row">
          <div flex="20" class="right">主任：</div><div>{{hospital['主任']}}</div>
        </div>
        <div layout="row">
          <div flex="20" class="right"><i class="fa fa-mobile"></i> 主任手機：</div><div>{{hospital['主任手機']}}</div>
        </div>
        <div layout="row">
          <div flex="20" class="right">附註：</div><div>{{hospital['附註']}}</div>
        </div>
    </div>
  </md-dialog-content>

  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="close()" class="md-primary">
      關閉
    </md-button>
  </div>
  </form>
</md-dialog>
