<md-dialog aria-label="Mango (Fruit)">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2><i class="fa fa-hospital-o"></i> 社服中心 ({{hospital['醫院']}})</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="answer('not applicable')">
        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div>
        <div layout="row">
          <div flex="30" class="right">社福中心：</div><div>{{hospital['社福中心']}}</div>
        </div>
        <div layout="row">
          <div flex="30" class="right">電話：</div><div><a ng-href="tel:{{hospital['辦公室電話']}}">{{hospital['辦公室電話']}}</a></div>
        </div>
        <div layout="row">
          <div flex="30" class="right">主任：</div><div>{{hospital['主任']}}</div>
        </div>
        <div layout="row">
          <div flex="30" class="right">主任手機：</div><div><a ng-href="tel:{{hospital['主任手機']}}">{{hospital['主任手機']}}</a></div>
        </div>
        <div layout="row">
          <div flex="30" class="right">附註：</div>
          <div>
            於臺北市醫院就醫之傷者家屬,若有相關問題,於晚上八點前可撥打社會局社工科電話
            <a href="tel:02-27206528">02-27206528</a>
          </div>
        </div>
    </div>
  </md-dialog-content>

  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="close()" class="md-primary">
      關閉
    </md-button>
  </div>
  </form>
</md-dialog>
