[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}

a {
  color: blue;
}

a:hover {
  text-decoration: underline;
}

.md-title {
  margin-top: 0;
}

.padding-lab{
  margin:5px 0 0 0;
  padding:5px 0;
}
.primary {
  background: #81C784;
}

.info {
  background: #2196F3;
}
.info__tr{
  background:rgba(163, 237, 230, 0.38);
}
.info__lab{
  text-align:center;
  margin:5px 5px 0 0;
  background:#35c6b2;
  color:#fff;
  padding:5px 10px;
  font-weight:bolder;
  border-radius:8px;
}
.success {
  background: #EEFF41;
}
.success__tr{
  background:rgba(198, 246, 223, 0.53);
}

.warn {
  background: #FF9800;
}
.warn__lab{
  text-align:center;
  margin:5px 5px 0 0;
  background:#f49600;
  color:#fff;
  padding:5px 10px;
  font-weight:bolder;
  border-radius:8px;
}

.danger {
  background: #F44336;
}
.danger__tr{
  background:rgba(248, 187, 187, 0.52);
}
.danger__lab{
  text-align:center;
  margin:5px 5px 0 0;

  background:#E9635E;
  color:#fff;
  padding:5px 10px;
  font-weight:bolder;
  border-radius:8px;
}

.right {
  text-align: right;
}

.nav{
  background:#58b4c6;
  padding-right:10px;
  padding-left:10px;
  position:relative;
}
.nav__btn{
  background:#187f93;
  color:#fdf899;
  padding:13px;
  cursor:pointer;
}
.nav__btn:hover{
  text-decoration: none;
  background:#ffffff;
  color:#187f93;
}
.nav__title{

}
.nav__btn.-right{
  position:absolute;
  right:30px;
  top:8px;
}

.card-default{
  background:#EDEBEB;
}

.table-default > tr > td{
  padding-top:10px !important;
  padding-bottom:10px !important;
}
.table-default__td{
  padding-top:10px !important;
  padding-bottom:10px !important;
}

.footer{
  position:fixed;
  bottom:0px;
  right:0px;
  width:100%;
  background:#fff;
   z-index:9999999;
   padding:0px 0px 5px 0px;
}

@media screen and (max-width: 479px) {
  td {
    padding: 0 0 0 5px !important;
  }
}

/* sidenav */
md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 100px !important;
    width: 85vw !important;
    max-width: 200px !important;
}

/* menu */
Angular Material Side MenuPreview Edit Code
index.html
app.routes.js
style.css
README.md
menu.service.js
menu_toggle.directive.js
app.modules.js
menulink.directive.js
home.controller.js
home.view.html
style.css
/* Styles go here */
body {
  font-family: 'Ubuntu', sans-serif;
  color: orangered;
}

md-toolbar.md-default-theme {
  background-color: rgb(79,195,247);
  color: white;
}

md-sidenav{
  height: 1000px;
}

.side-menu, .side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.menu-toggle-list.ng-hide{
    max-height: 0;
}
.side-menu .md-button .active {
  color: #FF5722;
}

.side-menu .menu-toggle-list a.md-button {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.side-menu .menu-toggle-list .md-button {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
}

.side-menu > li {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.md-button-toggle .md-toggle-icon.toggled {
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
}

.side-menu .md-button-toggle .md-toggle-icon {
  background-size: 100% auto;
  display: inline-block;
  margin: auto 0 auto auto;
  width: 15px;
  color: darkgray;
  transition: transform .3s ease-in-out;
  -webkit-transition: -webkit-transform .3s ease-in-out;

}

.menu-toggle-list.ng-hide {
  max-height: 0;
}

.side-menu .md-button {
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}

.menu-toggle-list {
  background: #fff;
  max-height: 1300px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.5s cubic-bezier(0.35, 0, 0.25, 5);
  -webkit-transition-property: max-height;
  -moz-transition: 0.5s cubic-bezier(0.35, 0, 0.25, 5);
  -moz-transition-property: max-height;
  transition: 0.5s cubic-bezier(0.35, 0, 0.25, 5);
  transition-property: max-height;
}


.side-menu menu-toggle span{

  padding-top: 12px;
  padding-bottom: 12px;
}
