[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}

a {
  color: blue;
}

a:hover {
  text-decoration: underline;
}

.md-title {
  margin-top: 0;
}

.padding-lab{
  margin:5px 0 0 0;
  padding:5px 0;
}
.primary {
  background: #81C784;
}

.info {
  background: #2196F3;
}
.info__tr{
  background:rgba(163, 237, 230, 0.38);
}
.info__lab{
  text-align:center;
  margin:5px 5px 0 0;
  background:#35c6b2;
  color:#fff;
  padding:5px 10px;
  font-weight:bolder;
  border-radius:8px;
}
.success {
  background: #EEFF41;
}
.success__tr{
  background:rgba(198, 246, 223, 0.53);
}

.warn {
  background: #FF9800;
}
.warn__lab{
  text-align:center;
  margin:5px 5px 0 0;
  background:#f49600;
  color:#fff;
  padding:5px 10px;
  font-weight:bolder;
  border-radius:8px;
}

.danger {
  background: #F44336;
}
.danger__tr{
  background:rgba(248, 187, 187, 0.52);
}
.danger__lab{
  text-align:center;
  margin:5px 5px 0 0;

  background:#E9635E;
  color:#fff;
  padding:5px 10px;
  font-weight:bolder;
  border-radius:8px;
}

.right {
  text-align: right;
}

.nav{
  background:#58b4c6;
  padding-right:10px;
  padding-left:10px;
  position:relative;
}
.nav__btn{
  background:#187f93;
  color:#fdf899;
  padding:13px;
  cursor:pointer;
}
.nav__btn:hover{
  text-decoration: none;
  background:#ffffff;
  color:#187f93;
}
.nav__title{

}
.nav__btn.-right{
  position:absolute;
  right:10px;
  top:13px;
}

.card-default{
  background:#EDEBEB;
}

.table-default > tr > td{
  padding-top:10px !important;
  padding-bottom:10px !important;
}
.table-default__td{
  padding-top:10px !important;
  padding-bottom:10px !important;
}



@media screen and (max-width: 479px) {
  td {
    padding: 0 0 0 5px !important;
  }
}
