<div ng-if="vm.loaded == false">
  <md-content layout="column" layout-align="center center">
    <h2>讀取資料中</h2>
    <md-progress-circular class="md-warn md-hue-3" md-mode="indeterminate"></md-progress-circular>
  </md-content>
</div>
<div ng-if="vm.loaded == true">
  <md-content flex class="md-padding">
    <md-input-container md-no-float="">
      <input ng-model="vm.searchText" placeholder="輸入搜尋條件, 例如： 長庚 或是 林文君" ng-change="vm.search()" maxlength="5">
    </md-input-container>

    <md-data-table-container>
      <table md-data-table infinite-scroll='vm.loadMore()' infinite-scroll-distance='2' class="table-default">
        <tr>
          <td width="20%">
            <b>個人資料</b>
          </td>
          <td width="20%">
            <b>收治單位</b>
          </td>
          <td width="20%">
            <b>就診狀況</b>
          </td>
          <td width="20%">
            <b>備註</b>
          </td>

        </tr>
        <tr ng-repeat="user in vm.result" ng-class="{danger__tr: user['即時動向'] == '加護病房',  info__tr: user['即時動向'] == '轉院' ,success__tr: user['即時動向'] == '出院'}">
          <td class="table-default__td">
            <div layout="row">
              <span class="md-title" style="margin-right:5px;">{{user['姓名']}}</span>
              {{user['性別']}}
            </div>
            <div layout="row">
              <span ng-if="user['年齡']" style="margin-right:5px;">{{user['年齡']}}歲</span>
              <span>{{user['國籍']}}</span>
            </div>


          </td>
          <td class="table-default__td">
            <div layout="column">
              {{user['縣市別']}}
            </div>
            <div layout="column">
              <a ng-href="https://www.google.com/maps?q={{user.hospital.address}}" target="_blank">
                <i class="fa fa-map-marker"></i>{{user['收治單位']}}
              </a>
            </div>
            <div layout="column">
              <a ng-href="tel:{{user.hospital.phone}}">{{user.hospital.phone}}</a>
            </div>
            <div layout="column" ng-if="user.service">
              <a ng-click="vm.showService($event, user['收治單位'])">社服中心</a>
            </div>
          </td>
          <td class="table-default__td">
            <div layout="row">
              <span ng-class="{danger__lab: user['即時動向'] == '加護病房',  info__lab: user['即時動向'] == '轉院'}" ng-if="user['即時動向'] != '其它'">{{user['即時動向']}}</span>
              <span ng-if="user['轉診要求']" class="padding-lab">{{user['轉診要求']}}</span>
            </div>
            <div layout="row" layout-sm="column">
              <span style="margin-right:5px;"class="padding-lab" ng-if="user['救護檢傷']" ng-class="{danger__lab: user['救護檢傷'] == '重傷',  warn__lab: user['救護檢傷'] == '中傷'}">{{user['救護檢傷']}}</span>
              <span class="padding-lab" ng-if="user['醫療檢傷']" ng-class="{danger__lab: user['醫療檢傷'] == '檢傷一級',  warn__lab: user['醫療檢傷'] == '檢傷二級'}">{{user['醫療檢傷']}}</span>
            </div>
          </td>
          <td class="table-default__td">
            <div layout="column" ng-if="user['編號']">
              編號：{{user['編號']}}
            </div>
            <div layout="column" ng-if="user['檢傷編號']">
              <span>檢傷編號: {{user['檢傷編號']}}</span>
            </div>
            <div layout="column" ng-if="user['轉診要求']">
              <span >轉診要求: {{user['轉診要求']}}</span>
            </div>

          </td>
        </tr>
      </table>
    </md-data-table-container>
  </md-content>
</div>
